In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [3]:
df=pd.read_csv(r'B:\Major_Git\Capstone-99acres\data\external\independent-house.csv')

In [4]:
df.head(1)

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in Sector 70A Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",K70037724

In [5]:
df.duplicated().sum()

np.int64(13)

In [6]:
df=df.drop_duplicates()

In [7]:
df.isnull().sum()

property_name        0
link                 0
society            579
price               69
rate                38
area                 0
areaWithType        50
bedRoom             50
bathroom            50
balcony             50
additionalRoom     446
address              6
noOfFloor           69
facing             362
agePossession       50
nearbyLocations    124
description          1
furnishDetails     292
features           362
rating             130
property_id          1
dtype: int64

In [8]:
df.drop(columns=['link','property_id'],inplace=True)

In [9]:
df.rename(columns={'rate':'price_per_sqft'},inplace=True)

In [10]:
df['society'].value_counts()

society
Emaar MGF Marbella                                   26
International City by SOBHA Phase 2                  26
Vipul Tatvam Villa                                   24
International City by Sobha Phase 1                  23
Unitech Uniworld Resorts                             13
Unitech Espace                                       11
DLF City Plots Phase 2                               11
DLF City Plots                                       11
Eldeco Mansionz                                       9
Bptp Visionnaire                                      8
Not Applicable                                        7
Uppal Southend4.0 ★                                   7
Ansals Palam Vihar                                    6
Sushant Lok 1 Builder Floors                          6
Experion Windchants3.8 ★                              5
DLF City Phase 1                                      5
Ansal Sushant Lok Plots4.1 ★                          4
Unitech Aspen Greens                                  4
DLF Alameda                                           4
Vatika India Next4.1 ★                                4
nul                                                   4
Puri Diplomatic Greens4.0 ★                           3
DLF City Plots Phase 3                                3
Anant Raj Estates                                     3
Central Park Flower Valley                            3
Housing Board Colony                                  3
SS Aaron Ville                                        3
Vatika Signature Villas                               3
Eros Rosewood Villas                                  3
BPTP Astaire Gardens3.7 ★                             3
Unitech Nirvana Birch Court                           3
Ansals Florence Villa                                 3
Eros Rosewood City4.0 ★                               3
Malibu Towne                                          3
Palam Vihar Extension West Zone RWA                   3
DLF New Town Heights 24.0 ★                           3
Rattan Garden                                         3
Sector 14 RWA                                         3
Tata Primanti4.1 ★                                    3
Unitech Deerwood Chase                                2
shivpuri                                              2
Project Housing Board Colony                          2
Project Mianwali Colony                               2
Bestech Park View Ananda4.2 ★                         2
Spaze Privy3.9 ★                                      2
Emaar Emerald Hills4.1 ★                              2
Suncity Essel Towers4.2 ★                             2
Ansal API Esencia3.7 ★                                2
Luxury DLF City Floors                                2
Saksham Welfare Association                           2
Unitech Palms South City 1                            2
BPTP Pedestal                                         2
RWA Sector 46                                         2
Emaar The Palm Springs                                2
Suncity Township4.1 ★                                 2
Nirvana Cedar Crest                                   2
SS Hibiscus                                           2
Silverglades Tarudhan Valley Golf Resort              2
Ardee City3.8 ★                                       2
Hans Enclave                                          2
Satya The Hermitage3.5 ★                              2
Sobha City                                            2
IFFCO Nagar and 17B RWA                               2
Bhim Garh Kheri                                       2
Sector 38 RWA                                         2
Unitech Escape3.8 ★                                   2
ATS Tourmaline3.9 ★                                   1
house number B-34                                     1
Rajendra Park Gurgaon                                 1
DLF Gardencity Enclave                                1
Surat nagar phase 2                                   1
My Home                                               1
Signature Global Park4.0 ★                            1
Sector-17C                                            1
huda sector-56 gurgaon                                1
private house                                         1
Grover Homes Sec 4                                    1
sector 37                                             1
FLOOR WISE DESIGNER KOTHI                             1
DLF New Town Heights3.7 ★                             1
All Punjabi Welfare Association                       1
Ansal Heights3.2 ★                                    1
Ninex City                                            1
rajendra park sec 105                                 1
HUDA Ashok Vihar Phase 13.9 ★                         1
Ashok Vihar Phase 3 Gurgaon                           1
Farrukhnagar                                          1
Prem Kunj                                             1
secter 16a daultabad faridabad house no 313           1
Bhawani enclave                                       1
Ansal Celebrity Homes                                 1
Shri Shyam Residency                                  1
HUDA Housing Board Colony4.1 ★                        1
Tulip Yellow                                          1
shree krishna homes                                   1
Laxmi Garden Sector-11                                1
ROW HOUSE                                             1
Jacobpura                                             1
Indiabulls Centrum Park3.7 ★                          1
Krishna Palace                                        1
Huda Flats                                            1
Naman Residency                                       1
Madan puri                                            1
Smart World Gems                                      1
Tulip Ivory3.5 ★                                      1
MANOHAR NAGAR                                         1
Vatika Sovereign Next                                 1
DLF The Grove                                         1
Surendra Homes Dayanand Colony                        1
RK Excelo                                             1
Anand Garden, Sector-105                              1
Jacobpura Gurugram                                    1
Hero Homes                                            1
Ganpati Heights Apartment                             1
Huda Plots                                            1
DLF Garden City Floors                                1
Emaar MGF The Palm Drive4.1 ★                         1
Anamika Enclave                                       1
bhim nagar, sector 6                                  1
DLF The Arbour                                        1
Om Nagar, Sector-11                                   1
Suncity Avenue 76                                     1
SS Omnia                                              1
Anshul                                                1
Sare Crescent Parc Royal Greens Phase 1               1
Greenopolis                                           1
Vipul World3.9 ★                                      1
Nirmal Enclave, Maruti Kunj Road                      1
Ansal Esencia Sovereign Floors                        1
Raj Villas                                            1
Shivaji Nagar Residential                             1
jacob pura                                            1
mahavir pura                                          1
Bhim Nagar Society                                    1
Sai Kripa Floors 5                                    1
DLF City Plot Phase 4                                 1
Signature Global City 92                              1
mian wali                                             1
HUDA Plot Sector 38                                   1
nirvana country                                       1
Landmark House                                        1
Nitin Vihar                                           1
Sector 15 Part 2 RWA                                  1
cloudnine cottages                                    1
u block dlf phase 3 road no 21                        1
Ashok vihar phase III Extension                       1
Ansal                                                 1
Adani Brahma Samsara4.2 ★                             1
Sheetla Enclave                                       1
DLF City Plot Phase 3                                 1
Signature Global City 63A                             1
rattan vihar rajendra park                            1
sneh vihar                                            1
Unitech South City 23.8 ★                             1
Smart World Orchard                                   1
Ansal Florence Super                                  1
Ireo Victory Valley4.1 ★                              1
Ansal API Spanish Court                               1
4S Aradhya Homes                                      1
Birla Navya                                           1
Central Park Flower Valley Cerise Floors              1
DLF City Plots Phase 4                                1
Kothi                                                 1
Ansal Sushant Lok                                     1
Central Park                                          1
Signature Global City                                 1
DLF Floors Phase 3                                    1
Ansal Sushant Residency                               1
DLF South City 1                                      1
Ireo Victory Valley4.0 ★                              1
Independent House Sector 45                           1
Vatika The Seven Lamps3.8 ★                           1
Unitech Greenwood City3.6 ★                           1
Nirvana Country                                       1
Signature Global City 81                              1
Satya The Legend3.8 ★                                 1
DLF Pink Town House4.0 ★                              1
Vatika Independent Floors3.8 ★                        1
Arjun Marg/ Sector- 26 Phase- 1/ Golf Course Road     1
The Laburnum                                          1
Ansal Sushant Lok 2                                   1
Sector 57 Huda                                        1
Godrej Meridien                                       1
Huda                                                  1
Huda Floor                                            1
Name: count, dtype: int64

In [12]:
import re
df['society'] = df['society'].apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()).str.lower()

In [13]:
df['society'].value_counts()

society
nan                                                  579
emaar mgf marbella                                    26
international city by sobha phase 2                   26
vipul tatvam villa                                    24
international city by sobha phase 1                   23
unitech uniworld resorts                              13
unitech espace                                        11
dlf city plots                                        11
dlf city plots phase 2                                11
eldeco mansionz                                        9
bptp visionnaire                                       8
not applicable                                         7
uppal southend                                         7
sushant lok 1 builder floors                           6
ansals palam vihar                                     6
experion windchants                                    5
dlf city phase 1                                       5
unitech aspen greens                                   4
dlf alameda                                            4
ansal sushant lok plots                                4
dlf new town heights                                   4
vatika india next                                      4
nul                                                    4
housing board colony                                   3
central park flower valley                             3
anant raj estates                                      3
tata primanti                                          3
bptp astaire gardens                                   3
unitech nirvana birch court                            3
ansals florence villa                                  3
vatika signature villas                                3
sector 14 rwa                                          3
ss aaron ville                                         3
eros rosewood city                                     3
rattan garden                                          3
malibu towne                                           3
palam vihar extension west zone rwa                    3
puri diplomatic greens                                 3
dlf city plots phase 3                                 3
eros rosewood villas                                   3
project mianwali colony                                2
sobha city                                             2
bestech park view ananda                               2
ansal api esencia                                      2
luxury dlf city floors                                 2
shivpuri                                               2
suncity essel towers                                   2
emaar emerald hills                                    2
unitech deerwood chase                                 2
spaze privy                                            2
saksham welfare association                            2
nirvana country                                        2
suncity township                                       2
ireo victory valley                                    2
nirvana cedar crest                                    2
rwa sector 46                                          2
sector 38 rwa                                          2
silverglades tarudhan valley golf resort               2
hans enclave                                           2
iffco nagar and 17b rwa                                2
bptp pedestal                                          2
unitech palms south city 1                             2
emaar the palm springs                                 2
ardee city                                             2
unitech escape                                         2
satya the hermitage                                    2
ss hibiscus                                            2
project housing board colony                           2
bhim garh kheri                                        2
signature global park                                  1
surat nagar phase 2                                    1
huda sector-56 gurgaon                                 1
sector-17c                                             1
grover homes sec 4                                     1
floor wise designer kothi                              1
sector 37                                              1
my home                                                1
ansal heights                                          1
ninex city                                             1
rajendra park sec 105                                  1
secter 16a daultabad faridabad house no 313            1
all punjabi welfare association                        1
private house                                          1
huda ashok vihar phase                                 1
ashok vihar phase 3 gurgaon                            1
farrukhnagar                                           1
prem kunj                                              1
house number b-34                                      1
rajendra park gurgaon                                  1
dlf gardencity enclave                                 1
shree krishna homes                                    1
laxmi garden sector-11                                 1
huda housing board colony                              1
tulip yellow                                           1
shri shyam residency                                   1
madan puri                                             1
indiabulls centrum park                                1
jacobpura                                              1
huda flats                                             1
smart world gems                                       1
ganpati heights apartment                              1
hero homes                                             1
dlf garden city floors                                 1
vatika sovereign next                                  1
manohar nagar                                          1
anamika enclave                                        1
bhim nagar, sector 6                                   1
surendra homes dayanand colony                         1
dlf the grove                                          1
rk excelo                                              1
anand garden, sector-105                               1
jacobpura gurugram                                     1
huda plots                                             1
tulip ivory                                            1
emaar mgf the palm drive                               1
om nagar, sector-11                                    1
bhawani enclave                                        1
dlf the arbour                                         1
ats tourmaline                                         1
anshul                                                 1
sare crescent parc royal greens phase 1                1
greenopolis                                            1
vipul world                                            1
ansal esencia sovereign floors                         1
nirmal enclave, maruti kunj road                       1
mahavir pura                                           1
jacob pura                                             1
signature global city 92                               1
bhim nagar society                                     1
raj villas                                             1
shivaji nagar residential                              1
krishna palace                                         1
naman residency                                        1
sai kripa floors 5                                     1
dlf city plot phase 4                                  1
ansal celebrity homes                                  1
row house                                              1
huda plot sector 38                                    1
mian wali                                              1
ashok vihar phase iii extension                        1
u block dlf phase 3 road no 21                         1
sector 15 part 2 rwa                                   1
nitin vihar                                            1
cloudnine cottages                                     1
rattan vihar rajendra park                             1
ss omnia                                               1
suncity avenue 76                                      1
adani brahma samsara                                   1
dlf city plot phase 3                                  1
sheetla enclave                                        1
sneh vihar                                             1
smart world orchard                                    1
ansal florence super                                   1
ansal api spanish court                                1
4s aradhya homes                                       1
central park flower valley cerise floors               1
landmark house                                         1
kothi                                                  1
birla navya                                            1
dlf city plots phase 4                                 1
signature global city 63a                              1
ansal                                                  1
signature global city                                  1
signature global city 81                               1
ansal sushant residency                                1
dlf floors phase 3                                     1
unitech south city                                     1
independent house sector 45                            1
ansal sushant lok                                      1
vatika the seven lamps                                 1
unitech greenwood city                                 1
central park                                           1
dlf south city 1                                       1
satya the legend                                       1
dlf pink town house                                    1
vatika independent floors                              1
arjun marg/ sector- 26 phase- 1/ golf course road      1
the laburnum                                           1
ansal sushant lok 2                                    1
sector 57 huda                                         1
godrej meridien                                        1
huda                                                   1
huda floor                                             1
Name: count, dtype: int64

In [ ]:
# Replacing the nan values to the independent values
df['society']=df['society'].str.replace('nan','independent')

In [16]:
df['price'].value_counts()

price
3.5 Crore           19
5.5 Crore           17
6.5 Crore           16
6 Crore             14
75 Lac              13
70 Lac              13
4.5 Crore           13
5 Crore             13
50 Lac              13
8 Crore             13
85 Lac              12
7 Crore             12
8.5 Crore           12
4 Crore             11
1.5 Crore           11
Price on Request    10
60 Lac              10
90 Lac              10
2.5 Crore           10
10 Crore            10
9 Crore             10
45 Lac              10
2.25 Crore          10
1.7 Crore            9
9.5 Crore            9
1.1 Crore            9
12 Crore             9
2 Crore              9
80 Lac               9
11 Crore             8
6.75 Crore           8
1 Crore              8
4.6 Crore            8
1.6 Crore            8
12.5 Crore           7
65 Lac               7
95 Lac               7
3.75 Crore           7
2.1 Crore            7
1.35 Crore           7
55 Lac               7
1.3 Crore            7
1.2 Crore            7
40 Lac               7
2.75 Crore           6
5.7 Crore            6
2.95 Crore           6
4.25 Crore           6
7.5 Crore            6
13.5 Crore           6
3.25 Crore           6
10.5 Crore           6
6.25 Crore           6
1.15 Crore           6
3.6 Crore            6
16 Crore             6
1.45 Crore           6
35 Lac               5
3 Crore              5
1.8 Crore            5
2.8 Crore            5
7.25 Crore           5
5.6 Crore            5
38 Lac               5
4.75 Crore           5
15 Crore             5
1.25 Crore           5
9.25 Crore           4
11.5 Crore           4
4.35 Crore           4
5.75 Crore           4
17 Crore             4
3.2 Crore            4
18 Crore             4
4.7 Crore            4
6.8 Crore            4
1.65 Crore           4
1.4 Crore            4
13 Crore             4
3.3 Crore            4
42 Lac               4
2.4 Crore            4
37 Lac               4
5.8 Crore            4
8.25 Crore           4
5.25 Crore           4
20 Crore             3
1.95 Crore           3
4.45 Crore           3
7.35 Crore           3
8.4 Crore            3
3.4 Crore            3
7.2 Crore            3
1.16 Crore           3
6.95 Crore           3
2.3 Crore            3
2.2 Crore            3
82 Lac               3
34 Lac               3
49 Lac               3
62 Lac               3
32 Lac               3
5.65 Crore           3
19 Crore             3
1.9 Crore            3
2.9 Crore            3
4.3 Crore            3
1.85 Crore           3
92 Lac               3
5.15 Crore           3
3.1 Crore            3
6.4 Crore            3
1.55 Crore           3
3.85 Crore           3
3.05 Crore           2
6.3 Crore            2
66 Lac               2
11.25 Crore          2
3.55 Crore           2
19.5 Crore           2
26 Crore             2
67 Lac               2
3.51 Crore           2
11.75 Crore          2
10.45 Crore          2
11.95 Crore          2
3.15 Crore           2
1.05 Crore           2
15.5 Crore           2
9.9 Crore            2
14 Crore             2
7.1 Crore            2
2.55 Crore           2
89 Lac               2
8.49 Crore           2
4.95 Crore           2
48 Lac               2
30 Lac               2
58 Lac               2
1.75 Crore           2
36 Lac               2
10.85 Crore          2
58.25 Lac            2
3.65 Crore           2
2.15 Crore           2
3.35 Crore           2
10.55 Crore          2
4.12 Crore           1
5.51 Crore           1
3.49 Crore           1
8.48 Crore           1
11.58 Crore          1
4.31 Crore           1
5.46 Crore           1
7.6 Crore            1
10.56 Crore          1
10.75 Crore          1
8.2 Crore            1
4.05 Crore           1
9.35 Crore           1
1.64 Crore           1
9.19 Crore           1
2.99 Crore           1
9.85 Crore           1
1.18 Crore           1
9.01 Crore           1
4.99 Crore           1
9.8 Crore            1
15.1 Crore           1
8.75 Crore           1
25 Crore             1
2.68 Crore           1
2.45 Crore           1
23 Crore             1
1.72 Crore           1
63 Lac               1
53 Lac               1
51 Lac               1
8.95 Crore           1
13.2 Crore           1
7.5 Lac              1
2.58 Crore           1
4.02 Crore           1
22 Lac               1
3.12 Crore           1
6.6 Crore            1
61 Lac               1
7.05 Crore           1
3.69 Crore           1
11.3 Crore           1
1.87 Crore           1
8.7 Crore            1
6.2 Crore            1
5.35 Crore           1
5.85 Crore           1
5.9 Crore            1
2.7 Crore            1
1.04 Crore           1
7.85 Crore           1
3.93 Crore           1
2.35 Crore           1
18.25 Crore          1
8.6 Crore            1
9.55 Crore           1
15.5 Lac             1
71 Lac               1
69 Lac               1
74 Lac               1
3.09 Crore           1
47.5 Lac             1
83 Lac               1
98 Lac               1
24 Lac               1
44 Lac               1
18 Lac               1
65.8 Lac             1
96 Lac               1
46 Lac               1
1.34 Crore           1
18.02 Crore          1
2.43 Crore           1
13 Lac               1
59 Lac               1
47 Lac               1
52.5 Lac             1
1.44 Crore           1
3.08 Crore           1
29 Lac               1
3.71 Crore           1
78 Lac               1
4.65 Crore           1
6.1 Crore            1
1.07 Crore           1
68 Lac               1
5.2 Crore            1
42.75 Lac            1
52 Lac               1
1.52 Crore           1
8.81 Crore           1
6.81 Crore           1
3.99 Crore           1
59.95 Lac            1
7.46 Crore           1
24 Crore             1
18.9 Crore           1
17.3 Crore           1
27 Lac               1
9.54 Crore           1
14.75 Crore          1
8.1 Crore            1
2.6 Crore            1
3.87 Crore           1
1.39 Crore           1
12.39 Crore          1
8.8 Crore            1
7.99 Crore           1
5.4 Crore            1
4.49 Crore           1
4.15 Crore           1
55.11 Lac            1
7.3 Crore            1
7.69 Crore           1
18.5 Crore           1
27.5 Crore           1
8.31 Crore           1
6.21 Crore           1
1.83 Crore           1
7.49 Crore           1
22 Crore             1
8.9 Crore            1
2.01 Crore           1
3.9 Crore            1
5.1 Crore            1
5.88 Crore           1
12.25 Crore          1
46.75 Lac            1
9.4 Crore            1
52.75 Lac            1
8.45 Crore           1
6.15 Crore           1
2.47 Crore           1
3.7 Crore            1
18.4 Crore           1
4.4 Crore            1
99 Lac               1
10.3 Crore           1
2.65 Crore           1
1.27 Crore           1
11.29 Crore          1
5.3 Crore            1
10.8 Crore           1
31.5 Crore           1
4.1 Crore            1
7.65 Crore           1
6.46 Crore           1
6.44 Crore           1
7.8 Crore            1
3.8 Crore            1
7.45 Crore           1
7.42 Crore           1
6.09 Crore           1
2.98 Crore           1
Name: count, dtype: int64

In [18]:
df=df[df['price'] !='Price on Request']

In [19]:
def treat_price(x):
    if type(x)==float:
        return x
    else:
        if x[1]=='Lac':
            return round(float(x[0])/100,2)
        else:
            return round(float(x[0]),2)

In [27]:
df['price']=df['price'].str.split(' ').apply(treat_price)

In [35]:
df['price_per_sqft']=df['price_per_sqft'].str.split('/').str.get(0).str.replace('₹','').str.replace(',','').str.strip().astype('float')

In [37]:
df['bedRoom'].value_counts()

bedRoom
4 Bedrooms     232
5 Bedrooms     194
3 Bedrooms     146
2 Bedrooms      88
6 Bedrooms      81
9 Bedrooms      45
1 Bedroom       38
8 Bedrooms      33
7 Bedrooms      31
12 Bedrooms     28
10 Bedrooms     21
16 Bedrooms     12
13 Bedrooms      4
11 Bedrooms      2
19 Bedrooms      2
18 Bedrooms      2
21 Bedrooms      1
20 Bedrooms      1
36 Bedrooms      1
34 Bedrooms      1
14 Bedrooms      1
Name: count, dtype: int64

In [38]:
df['bedRoom'].isnull().sum()

np.int64(50)

In [41]:
df=df[~df['bedRoom'].isnull()]

In [46]:
df['bedRoom']=df['bedRoom'].str.split(' ').str.get(0).astype('int')

In [50]:
df['bathroom']=df['bathroom'].str.split(' ').str.get(0).astype('int')

In [53]:
df['balcony'].isnull().sum()

np.int64(0)

In [55]:
df['balcony'].value_counts()

balcony
3+ Balconies    365
2 Balconies     220
3 Balconies     159
No Balcony      115
1 Balcony       105
Name: count, dtype: int64

In [57]:
df['balcony']=df['balcony'].str.split(' ').str.get(0).str.replace('No','0')

In [58]:
df['additionalRoom'].isnull().sum()

np.int64(386)

In [59]:
df['additionalRoom'].fillna('not available',inplace=True)

In [61]:
df['additionalRoom']=df['additionalRoom'].str.lower()

In [62]:
df['noOfFloor'].isnull().sum()

np.int64(19)

In [63]:
df['noOfFloor'].value_counts()

noOfFloor
3 Floors     304
2 Floors     288
1 Floors     181
4 Floors     136
5 Floors       9
0 Floors       6
14 Floors      3
6 Floors       3
10 Floors      2
11 Floors      2
12 Floors      2
21 Floors      1
13 Floors      1
27 Floors      1
02 Floors      1
20 Floors      1
41 Floors      1
51 Floors      1
16 Floors      1
33 Floors      1
Name: count, dtype: int64

In [66]:
df['noOfFloor']=df['noOfFloor'].str.split(' ').str.get(0)

In [68]:
df.rename(columns={'noOfFloor':'floorNum'},inplace=True)

In [70]:
df['facing'].isnull().sum()

np.int64(303)

In [71]:
df['facing'].fillna('NA',inplace=True)

In [72]:
df['area']=round((df['price']*10000000)/df['price_per_sqft'])

In [73]:
df.insert(loc=1,column='property_type',value='house')

In [74]:
df.head(1)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 964 entries, 0 to 1036
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    964 non-null    object
 1   property_type    964 non-null    object
 2   society          964 non-null    object
 3   price            945 non-null    float64
 4   price_per_sqft   945 non-null    float64
 5   area             945 non-null    float64
 6   areaWithType     964 non-null    object
 7   bedRoom          964 non-null    int64
 8   bathroom         964 non-null    int64
 9   balcony          964 non-null    object
 10  additionalRoom   964 non-null    object
 11  address          959 non-null    object
 12  floorNum         945 non-null    object
 13  facing           964 non-null    object
 14  agePossession    964 non-null    object
 15  nearbyLocations  848 non-null    object
 16  description      964 non-null    object
 17  furnishDetails   729 non-null    object
 18  features         662 non-null    object
 19  rating           843 non-null    object
dtypes: float64(3), int64(2), object(15)
memory usage: 158.2+ KB

In [76]:
df.to_csv('B:\Major_Git\Capstone-99acres\data\external\house_cleaned.csv',index=False)

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\ombha\AppData\Local\Temp\ipykernel_7656\3853490416.py:1: SyntaxWarning: invalid escape sequence '\M'
  df.to_csv('B:\Major_Git\Capstone-99acres\data\external\house_cleaned.csv',index=False)