In [2]:
import pandas as pd 
import numpy as np

In [4]:
house=pd.read_csv(r'B:\Major_Git\Capstone-99acres\data\external\house_cleaned.csv')
flats=pd.read_csv(r'B:\Major_Git\Capstone-99acres\data\external\flats_cleaned.csv')

In [5]:
df=pd.concat([house,flats],ignore_index=True)

In [ ]:
# To shuffle the data mix in the dataset
df=df.sample(df.shape[0],ignore_index=True)

In [8]:
df.head(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 92 Gurgaon,flat,sare homes,0.60,5000.0,1200.0,Carpet area: 1200 (111.48 sq.m.),3,2,3,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",4.0,NaN,5 to 10 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",The most functional society in sec 92 led by v...,"['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment5 out of 5', 'Safety3 out of 5', ..."
1,4 BHK Flat in Sector 60 Gurgaon,flat,ireo skyon,3.60,12815.0,2809.0,Super Built up area 2809(260.96 sq.m.)Carpet a...,4,5,3,servant room,"Sector 60 Gurgaon, Gurgaon, Haryana",24.0,North-East,1 to 5 Year Old,"['Sector 55-56 Metro', 'Golf Course Extension'...","This 4 bhk flat is located in ireo skyon, whic...","['7 Wardrobe', '1 Water Purifier', '6 Fan', '1...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction5 out of..."
2,2 BHK Flat in Sector 102 Gurgaon,flat,shapoorji pallonji joyville gurugram,0.97,10601.0,915.0,Super Built up area 915(85.01 sq.m.),2,2,2,not available,"N/a, Sector 102 Gurgaon, Gurgaon, Haryana",12.0,East,1 to 5 Year Old,"['Khan Market', 'The Esplanade Mall', 'Dwarka ...",Located in the popular residential address of ...,[],"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area4 out of 5', 'Construction5 out of..."
3,5 Bedroom House for sale in New Colony,house,rattan garden,1.30,13499.0,963.0,Built Up area: 963 (89.47 sq.m.),5,3,2,not available,"New Colony, Sector 7, New Colony, Gurgaon, Har...",3.0,NaN,10+ Year Old,"['Chintapurni Mandir', 'Aryan Hospital', 'D.R....",Best in class property available at new colony...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
4,3 BHK Flat in Sector 36 Sohna,flat,signature global park 4,0.72,6428.0,1120.0,Carpet area: 1120 (104.05 sq.m.),3,2,3,not available,"Sector 36 Sohna, Gurgaon, Haryana",2.0,NaN,Dec-24,"['Sector 55-56 Metro Station', 'The Leaf Mall ...",Park facing flat on second floor,NaN,NaN,NaN

In [9]:
df.to_csv('B:\Major_Git\Capstone-99acres\data\external\gurgaon_properties.csv',index=False)

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\ombha\AppData\Local\Temp\ipykernel_17128\3573472656.py:1: SyntaxWarning: invalid escape sequence '\M'
  df.to_csv('B:\Major_Git\Capstone-99acres\data\external\gurgaon_properties.csv',index=False)